/* You can add global styles to this file, and also import other style files */
.label {
  display: block;
  padding: .5em 0;
  font-weight: bold;
}

.separator-line {
  border-top: lightslategrey;
}

input, select {
  width: 100%;
}

.subtle-text {
  font-size: 80%;
  color: grey;
  padding-left: .5em;
}